@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");


$white: #ffffff;
$light: #e5e5e5 #d4d3d3;
    
$dark :  #282727;

$link_blue:#1cbcd2;
$light-blue: #03b5d2;

$grey: #7c7f8f;
$light-grey:#c2c2c2;
$dark-grey: #7288a2;

$green: #00A625;
$light-green: #89e97c;
$dark-green: #05230a;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.App{ 
  width: 100vw;
  overflow: hidden;
  position: relative;
  margin-top: 80px;
  a{
    color: $link_blue;
    cursor: pointer;
    text-decoration: none;
    &:hover{
      text-decoration: 1px underline $link_blue;
    }
  }

  h1{
    color: $dark;
    text-align: center;
    font-size: 24px;
    margin: 10px 0px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  button{
    width: 140px;
    width: max-content;
    height: 34px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: $white;
    background: $dark;

    &:hover{
        background: $dark-grey;
    }
  }

  img{

    border-radius: 5px;
    height: 95%;
    object-fit: fill;
    object-position: center;
    margin-right: 10px;
    margin-left: 10px;
    
  }

  .header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    position: fixed;
    z-index: 999;
    background: $light;
    top: 0px;
    box-shadow: 0px 2px 2px 0px  rgba(0,0,0,0.63);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.63);
    background: $white;

    i{
      width: 25px;
      height: 25px;
      color: $dark;
      cursor: pointer;
      border-radius: 50%;
      display: none;
      align-items: center;
      justify-content: center;

      &:hover{
        background: $grey;
      }

      @media screen and (max-width: 924px){
        display: flex;
      }
    }

    .logo {
      width: 60px;
      height: 60px;
      object-fit: fill;
      object-position: center;
    }

    .icon{
      padding: 5px;
      font-family: cursive;
      color: $grey;
    }

    .topNav{
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;

      @media screen and (max-width: 924px){
        display: none;
      }
      

      a{

        height: inherit;
        margin: 0px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
      }
      a.active{
        text-decoration: 2px underline $link_blue;
      }
    }
  }
  
  .collapsibleNav{
    width: 250px;
    height: 300px;
  
    background: $dark;
    overflow: hidden;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 999;
    display: none;
    .wrapper{
      width: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-top: 30px;

      a{
        width: 100%;
        height: 30px;
        padding: 0px 20px;
        font-size: 18px;
        display: flex;
        align-items: center;

        & .active,.collapsibleNav a:hover{
          color: $white;
          background: $link_blue;
        }

        &:hover{
          color: $white;
          background: $link_blue;
        }
      }
    }

    .collapseBtn{
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      right: 2px;
      top: 2px;
      cursor: pointer;

      &:hover{
        background: $grey;
      }
    }
  }

  
  /*main*/
  main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .home{
      width: 100%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: $dark-green;

      h1{
        font-size: 34px;
        color: $green;
        text-transform: uppercase;
      }
    
      .btn{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        z-index: 2;
        animation: btn-animate 2s ease-in infinite;
        color: $white;
        cursor: pointer;
        &:hover{
            background: $light-green;
            
        }
      }
    }
    
    
    
    @keyframes btn-animate{
        0%{
            opacity: 1;
            transform: translateY(10px);
        }
        50%{
            opacity: 0.5;
            transform: translateY(20px);
        }
        100%{
            opacity: 1;
            transform: translateY(10px);
        }
    }

    /*about section*/
    .about{
      width: 100vw;
      height: 45vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
  
      .wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;

        p{
          flex: 1;
          min-width: 50%;
          padding: 10px;
          display: flex;
          flex-direction: column;
          line-height: 1.3em;
          align-items: center;
          font-size: 18px;
        }

        .image-container{
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 250px;
            height: 250px;
            border-radius: 50%;
          }
        }

        a{
          font-size: 20px;
          color: $white;
          cursor: pointer;
          text-decoration: none;
          padding: 10px;
          border: 1px solid $green;
          color: $green;
        }
      }
    }
    /*skills section*/
    .skills{
      width: 100vw;
      min-height: 50vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      color: $white;
      margin: 10px;
      padding: 10px;
    
      .wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 20px;

        .skillItem{
          width: 300px;
          height: 20px;
          border-radius: 10px;
          display: flex;
          flex-wrap: wrap-reverse;
          align-items: center;
          justify-content: space-between;
          background: $grey;
          margin-bottom: 20px;
          padding-left: 5px;
  
          .bar{
            width: 70%;
            height: inherit;
            border-radius: inherit;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: $light-blue;
      
            .skillName {
              color: $white;
            }
      
            & .background {
              width: 0;
              height: inherit;
              border-radius: inherit;
              border: 1px solid green;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }

        
      }
    

    }
    /*services*/
    .services{
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;

    
      div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;

    
        .serviceItem{
          width: calc((100%  / 3) - 50px);
          min-width: 300px;
          min-height: 320px;
          height: fit-content;
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 5;
          justify-content: center;
          border-radius: 5px;
          background: $white;
          margin: 10px 0px;
          border: 1px solid $dark-green;
        
          img{
            max-width: 100%;
            margin-bottom: 10px;
          }
        
          .serviceDesc{
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 18px;
          }
        } 
      }
    }

    /*projects*/
    .projects{
      width: 100%;
      min-height: 70vh;
      margin: 10px;
  
      .wrapper {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 10px;
      }
  
      p{
        font-size: 30px;
        font-weight: 400;
      }
  
      .item{
        width: 300px;
        height: 290px;
        margin: 20px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid $green;
        border-radius: 10px;
  
        img {
          width: 70%;
        }
  
        a{
          padding: 10px;
          cursor: pointer;
          text-decoration: none;
          margin: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $dark;
          border-radius: 5px;
        }
    
      }
    }


    /*contact section*/
    .contact{
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      margin: 30px 0px;
      padding: 10px;

  
      .wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        @media screen and (max-width: 768px){
          flex-direction: column;
        }

        @media screen and (max-width: 640px){
          flex-direction: column;
        }
  
        .contactForm{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 50%;
          min-height: 250px;
          margin-top: 10px;
          @media screen and (max-width: 640px){
            width: 80%;
          }
          @media screen and (max-width: 475px){
            width: 90%;
            .contactAddress{
              width: 90%;
            }
          }
  
          input{
            width: 100%;
            border-radius: 5px;
            outline: none;
            border: none;
            box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
            margin-bottom: 20px;
            height: 50px;
            padding: 10px 12px;
            border-radius: 6px;
        
          }
  
          .message{
            height: 200px;
            width: 100%;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
            outline: none;
            border: none;
            padding: 5px;
          }
  
          button{
            width: 140px;
            height: 34px;
          }
        }
  
        .contactAddress{
          width: 290px;
          height: 100%;
          min-height: 200px;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
  
          p{
            color: $dark;
            opacity: 0.8;
            margin-bottom: 2px;
            font-size: 20px;
            
          }
        }
      }
    }

    /*hire8*/
    .hire{
      width: 100vw;
      min-height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0px;
      @media screen and (max-width: 640px){
        flex-direction: column;
        *{
          flex-direction: column;
        }
      }
    
      .hire-span{
        width: 70vw;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-direction: column;
    
        p{
          width: 90%;
          min-height: 120px;
          margin-bottom: 10px;
          font-size: 20px;
          display: flex;
          align-items: center;
          font-family: Georgia, 'Times New Roman', Times, serif;
        }
      }
    
      .hireBtn{
    
        width: 130px;
        height: 36px;
        margin: 0px 20px;
        border-radius: 5px;
        border: none;
        outline: none;
        color: $white;
        font-size: 20px;
        font-weight: 600;
        background: $link_blue;
        cursor: pointer;
    
        &:hover{
          animation: shake 0.5s linear;
        }
      
      }
    }


    
  }

  /*footer */
  .footer{
    padding: 10px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    div {
      margin: 3px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    .follow {
      width: 350px;
      flex-direction: column;

      div{
        width: 100%;
        padding: 5px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:last-of-type{
          width: 100%;
          margin-top: 40px;
          padding: 0 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          p{
            margin-left: 20px;
          }
        }
      }
    }
  }

  /*modal success*/
  .modal{
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1100;
    right: calc((100%  - 150px) / 2);
    top: 100px;
    background: $white;
    border: 1px solid $dark;
  
    .top{
        width: 100%;
        padding: 10px;
        background: $dark;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        span{
            font-size: 14px;
            color: $white;
            padding: 5px;
        }
  
        .close{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $light-grey;
            font-size: 14px;
            cursor: pointer;
            &:hover{
                background: $grey;
            }
        }
    }
    .content{
        width: 100%;
        height: 80%;
        color: $link_blue;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 3px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
  
    }
  
  
    .bottom{
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
  }

  /* to top */
  .to-topBtn{
    width: 50px;
    height: 40px;
    position: fixed;
    bottom: 70px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    color: $green;
    border-radius: 50%;
    font-size: 26px;
    border: 1px solid $green;
    cursor: pointer;
  }
}

/*faq*/
.faq {
   display: block;
    margin: 0 auto;
    max-width: 48rem;
    padding: 0px 10px;
    @media screen and (max-width: 924px){
      overflow: auto;
    }
    .wrapper{
      .accordion-item {
        border-bottom: 1px solid $light;
        .accordion-title {
          padding: 1em 1.5em 1em 0;
          margin-left: 40px;
        }
  
        button {
          position: relative;
          display: block;
          text-align: left;
          width: 100%;
          padding: 1em 0;
          color: $dark-grey;
          font-size: 1.15rem;
          font-weight: 400;
          border: none;
          background: none;
          outline: none;
      
          &:hover, &:focus {
            cursor: pointer;
            color: $light-blue;
      
            &::after {
              cursor: pointer;
              color: $light-blue;
              border: 1px solid $light-blue;
            }
          }
      
      
      
          .icon {
            display: inline-block;
            position: absolute;
            top: 18px;
            right: 0;
            width: 22px;
            height: 22px;
            border: 1px solid;
            border-radius: 22px;
      
            &::before {
              display: block;
              position: absolute;
              content: "";
              top: 9px;
              left: 5px;
              width: 10px;
              height: 2px;
              background: currentColor;
            }
          }
      
          &[aria-expanded=true] {
            color: $light-blue;
      
            &+ .accordion-content {
              opacity: 1;
              max-height: 9em;
              transition: all 200ms linear;
              will-change: opacity, max-height;
            }
          }
        }
  
        .accordion-content {
          p {
            font-size: 1rem;
            font-weight: 300;
            margin: 2em 0;
          }
        }
      }
    }
  }


  /*background specification*/
.html{
  background-color: rgb(240, 147, 26);
  animation: html-fill 2s forwards;
}

.css{
  background-color: dodgerblue;
  animation: html-fill 2s forwards;
}

.javascript{
  background-color: #d3d31fe7;
  animation: html-fill 2s forwards;
}

.react{
  background-color: #3a9fff;
  animation: html-fill 2s forwards;
}

.bootstrap{
  background-color: rgb(62, 62, 236);
  animation: html-fill 2s forwards;
}

.sass{
  background-color: rgb(232, 142, 255);
  animation: html-fill 2s forwards;
}


.kotlin{
  background-color: #bb35f0;
  animation: html-fill 2s forwards;
}

.linux{
  background-color: ghostwhite;
  animation: html-fill 2s forwards;
  color: black;
}

.java{
  background-color: rgb(228, 100, 9);
  animation: html-fill 2s forwards;
}

.jquery{
  background-color: #1946c4;
  animation: html-fill 2s forwards;
}

.python{
  background-color: #2678c5;
  animation: python-fill 2s forwards;
}

.nodejs{
  background-color: #0f9425;
  animation: node-fill 2s forwards;
}

.mysql{
  background-color: #eff15d;
  animation: go-fill 2s forwards;
}

.material_ui{
  background-color: #20005a;
  animation: php-fill 2s forwards;
}

.electron{
  background-color: rgb(90, 65, 90);
  animation: graph-fill 2s forwards;
}

.ui-ux-design{
  animation: html-fill 2s forwards;
}

@keyframes html-fill {
  100% {
      width: 100%;
  }
}

@keyframes node-fill {
  100% {
      width: 90%;
  }
}

@keyframes go-fill {
  100% {
      width: 40%;
  }
}

@keyframes php-fill {
  100% {
      width: 50%;
  }
}

@keyframes graph-fill {
  100% {
      width: 30%;
  }
}

@keyframes python-fill {
  100% {
      width: 80%;
  }
}

@keyframes shake {
  
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(0deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}